@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta-sans);
  margin: 0;
}

@layer base{
  ul{
    @apply flex space-x-7
  }
  li{
    @apply text-[10px] text-black font-semibold uppercase cursor-pointer hover:text-orange-300 duration-200
  }
  button{
    @apply bg-white text-black px-8 py-3 rounded-full text-[8px] font-semibold uppercase tracking-widest mt-8 cursor-pointer hover:bg-black hover:text-white duration-200
  }

  h1{
    @apply text-center text-[24px] font-semibold max-md:mt-7
  }
}
